@tailwind base;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    --color-tertiary: 14 165 233;
  }

  p {
    font-color: @apply text-content-700;
  }
}
