@tailwind base;

/** TYPOGRAPHY **/
/**  TW DEFAULTS font size and line heights
text-xs	    font-size: 0.75rem;  //12sp
            line-height: 1rem; 
text-sm	    font-size: 0.875rem;  //14sp
            line-height: 1.25rem; 
text-base	  font-size: 1rem;      //16sp
            line-height: 1.5rem;  
text-lg	    font-size: 1.125rem;  //not used
            line-height: 1.75rem;  
text-xl	    font-size: 1.25rem;  //20sp
            line-height: 1.75rem;  
text-2xl	font-size: 1.5rem;     //24sp
            line-height: 2rem; 
text-3xl	font-size: 1.875rem;  //not used
            line-height: 2.25rem; 
text-4xl	font-size: 2.25rem;   //not used
            line-height: 2.5rem;  
text-5xl	font-size: 3rem;  //48xp
            line-height: 1;
text-6xl	font-size: 3.75rem;   //60sp
            line-height: 1;
text-7xl	font-size: 4.5rem;  //not used
            line-height: 1;
text-8xl	font-size: 6rem;  //96sp
            line-height: 1;
text-9xl	font-size: 8rem; //not used
            line-height: 1;
**/

/*to change all proportions change base body font size here */
@layer base {
  html {
    font-size: 16px;
    scroll-padding-top: 80px; /* needed for anchor jumps to account for header height */
  }
  /*large mobile */
  @media screen(xs) {
    html {
      font-size: 17px;
    }
  }

  /*tablet */
  @media screen(sm) {
    html {
      font-size: 18px;
    }
  }

  //laptop
  @media screen(md) {
    html {
      font-size: 19px;
    }
  }

  //desktop
  @media screen(lg) {
    html {
      font-size: 20px;
    }
  }

  //tv
  @media screen(xl) {
    html {
      font-size: 21rem;
    }
  }

  /* change base element typography here 
  h1 {
    @apply text-5xl mb-8;
  }

  h2 {
    @apply text-3xl mb-6;
  }

  h3 {
    @apply text-xl mb-4;
  } */

  /* p {
    @apply mb-6;
  } */
}

/**COLORS **/
