@import "./typography.css";
@import "./colors.css";
@import base;
@tailwind components;
@tailwind utilities;

@layer base {
  :target {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
  }
}

@layer components {
  .kicker {
    @apply font-bold text-blue-800 text-left text-sm uppercase italic underline underline-offset-8 tracking-wide;
  }
}
