@import "./custom_base.css";
@tailwind components;
@tailwind utilities;

@layer components {
  .kicker {
    @apply mb-2 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400;
  }

  .shadow-left {
    box-shadow: -6px 3px 6px gray;
  }

  .fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
