@import "./typography.css";
@import "./colors.css";
@import base;
@tailwind components;
@tailwind utilities;

@layer base {
  section:before {
    display: block;
    content: " ";
    height: 20px; /* Give height of your fixed element */
    margin-top: -20px; /* Give negative margin of your fixed element */
    visibility: hidden;
  }
}

@layer components {
  .kicker {
    @apply font-bold text-blue-800 text-left text-sm uppercase italic underline underline-offset-8 tracking-wide;
  }
}
