@tailwind base;

//default small phone
body {
  font-size: 7px;
}

//specific typography screen sizes
//large phone (mobile)
@media screen(mobile) {
  body {
    font-size: 11px;
  }
}

//tablet
@media screen(tablet) {
  body {
    font-size: 13px;
  }
}

//laptop
@media screen(laptop) {
  body {
    font-size: 15px;
  }
}

//desktop
@media (min-width: 1280px) {
  body {
    font-size: 19px;
  }
}
